.App {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* body */
.content-wrap {
    width: 75vw;
    margin: auto;
}

/* nav */
.nav {
    height: 100px;
    width: 100vw;
    background-color: #FCC133;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.header {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.linkBlack {
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.linkBlack:hover {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}

/* headers */
.pageHeader {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.accordion {
    font-size: 20px;
    margin: 3px auto;
    text-align: center;
    background-color: #FCC133;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    outline: none;
}


/* new meetup */
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newMeetup, .editMeetup {
    font-size: 20px;
    margin: 20px 0px;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px darkgrey;
}

.textInput {
    width: 100%;
    padding: 10px;
    margin: -1px;
}

input:focus {
    outline: none;
}

/* buttons */
.button {
    padding: 10px 50px;
    margin: 10px 0px;
    border-radius: 4px;
    background-color: #FCC133;
    max-width: 150px;
}

.button:hover {
    background-color: #dba82e;
    cursor: pointer;
}

/* meetup list page */
.meetupCard, .allMeetupInfo {
    display: flex;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 5px 5px 10px darkgrey;
}

.allMeetupInfo {
    flex-direction: column;
}

.imgDiv {
    width: 350px;
    margin: auto;
}

.infoDiv {
    padding: 20px;
    width: 35%;
}

.info {
    line-height: 1.5;
    padding: 5px 5px 0 5px;
}

.bold {
    font-weight: bold;
    padding: 5px 0;
}

.eventName {
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

/* single meetup information */
.meetupInfo {
    display: flex;
    width: 95%;
}

.mapDiv {
    width: 100%;
    height: 400px;
}

.map {
    padding: 0px 20px 10px 20px;
}

.attendees {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    padding: 20px;
    border: 20px #FCC133 solid;
    border-radius: 20px;
    text-align: center;
}

.players {
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    padding: 0 0 10px 0;
}

.gameImg {
    float: left;
    padding: 0px 20px 10px 0px;
}

.GameInfo {
    padding: 10px;
    line-height: 1.4;
}

/* delete form */
.warning {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 20px 0 0 0;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 3px solid #FCC133;
}

/* footer */
footer {
    height: 85px;
    width: 100ve;
    background-color: #FCC133;
    padding: 0px 20px;
    color: white;
    margin: 20px 0px 0px 0px;
    text-align: center;
}

.footer {
    padding: 30px;

}

/* RESPONSIVE */

/* SMALL */
@media screen and (min-width: 0px) and (max-width: 575px) {

    .nav {
        width: 100%;
    }

    .pageHeader {
        font-size: 20px;
        padding: 10px;
    }

    .newMeetup, .editMeetup {
        margin: 5px 0px;
        padding: 10px 20px;
        width: 100%;
    }

    .textInput {
        width: 100%;
        padding: 12px;
    }

    .meetupCard, .allMeetupInfo {
        margin: 5px 0px;
        padding: 10px 20px;
        width: 100%;
        flex-direction: column;
    }

    .imgDiv {
        width: 100%;
    }

    img {
        width: 100%;
    }
    
    .infoDiv {
        padding: 0px;
        width: 100%;
    }
    
    .info {
        line-height: 1.5;
        padding: 5px 5px 0 5px;
    }

    .eventName {
        font-size: 20px;
    }

    .meetupInfo {
        flex-direction: column;
    }

    .attendees {
        flex-direction: column;
        margin: 20px 0px;
        padding: 10px;
        border: 15px #FCC133 solid;
    }

    .players{
        font-size: 25px;
    }

    .GameInfo{
        line-height: 1;
    }

    footer {
        height: 50px;
        width: 120%;
    }
    
    .footer {
        padding: 10px;
        margin: 15px 0 0 0;
    }
}