.App {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* body */
.content-wrap {
    width: 75vw;
    margin: auto;
}

/* nav */
.nav {
    height: 85px;
    width: 100ve;
    background-color: #FCC133;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.header {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.linkBlack {
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.linkBlack:hover {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}

/* headers */
.pageHeader {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.accordion {
    font-size: 20px;
    margin: 3px auto;
    text-align: center;
    background-color: #FCC133;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    outline: none;
    transition: 0.4s;
}

/* new meetup */
/* .panel {
    display: none;
    overflow: hidden;
} */

.newMeetup, .editMeetup {
    font-size: 20px;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px darkgrey;
}

.textInput {
    width: 94%;
    padding: 10px;
}

.halfTextInput {
    width: 45%;
    padding: 10px;
}
input:focus {
    outline: none;
}

/* buttons */
.button {
    padding: 10px 50px;
    margin: 10px 0px;
    border-radius: 4px;
    background-color: #FCC133;
}

.button:hover {
    background-color: #dba82e;
    cursor: pointer;
}

/* meetup list page */
.meetupCard, .allMeetupInfo {
    display: flex;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 5px 5px 10px darkgrey;
}

.allMeetupInfo {
    flex-direction: column;
}

.imgDiv {
    width: 350px;
    margin: auto;
}

.infoDiv {
    padding: 20px;
    width: 35%;
}

.info {
    line-height: 1.5;
    padding: 5px 5px 0 5px;
}

.bold {
    font-weight: bold;
    padding: 5px 0;
}

.eventName {
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

/* single meetup information */
.meetupInfo {
    display: flex;
    width: 95%;
}

.map {
    padding: 0px 20px 10px 20px;
}

.attendees {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    padding: 20px;
    /* font-size: 16px; */
    border: 20px #FCC133 solid;
    border-radius: 20px;
    text-align: center;
}

.players {
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    padding: 0 0 10px 0;
}

.gameImg {
    float: left;
    padding: 0px 20px 10px 0px;
}

.GameInfo {
    padding: 10px;
    line-height: 1.4;
}

/* footer */
footer {
    height: 85px;
    width: 100ve;
    background-color: #FCC133;
    padding: 0px 20px;
    color: white;
    margin: 20px 0px 0px 0px;
    text-align: center;
}

.footer {
    padding: 30px;

}